<div ng-controller="about_controller">
<!-- banner start -->
<!-- ================ -->
<!-- Full Screen Banner Images -->
	<script type="text/javascript">
		$('.textResizeLarge').fitText(0.8);
 		$('.textResizeMid').fitText(1);
 		$('.textResizeSmall').fitText(1.15);
	</script>

	<section class="full-width-section">
			<div class="full-image-container light-gray-bg">
				<img class="to-right-block" ng-src="[[fullWidthSections[0].image_url]]">
				<div class="full-image-overlay text-center">
					<h1 style = "color:white;" class = 'textResizeLarge'>Roasted By People With Potential</h1>
				</div>
			</div>
			<div class="full-text-container light-gray-bg border-bottom-clear">
				<h2>[[fullWidthSections[0].header]]</h2>
				<div class="separator-2 visible-lg"></div>
				<p style = 'font-size:115%;'>[[fullWidthSections[0].first_paragraph]]</p>
				<div ng-if = 'fullWidthSections[0].second_paragraph'>
					<br>
					<p style = 'font-size:115%;'>[[fullWidthSections[0].second_paragraph]]</p>
				</div>
				<div class="separator-3 visible-lg"></div>
			</div>
	</section>

	<section class="full-width-section">
		<div class="full-image-container light-gray-bg visible-xs">
			<img ng-src="[[fullWidthSections[1].image_url]]">
			<div class="full-image-overlay text-center">
				<h1 style = "color:white;" class = 'textResizeSmall'>Creating a better future for the folks 6 blocks away, and 6,000 miles away.</h1>
			</div>
		</div>
		<div class="full-text-container left light-gray-bg border-bottom-clear text-right">
			<h2>[[fullWidthSections[1].header]]</h2>
			<div class="separator-3 visible-lg"></div>
			<p style = 'font-size:115%;'>[[fullWidthSections[1].first_paragraph]]</p>
			<div ng-if = 'fullWidthSections[1].second_paragraph'>
					<br>
					<p style = 'font-size:115%;'>[[fullWidthSections[1].second_paragraph]]</p>
			</div>
		</div>
		<div class="full-image-container light-gray-bg hidden-xs">
			<img ng-src="[[fullWidthSections[1].image_url]]">
			<div class="full-image-overlay text-center">
				<h1 style = "color:white;" class = 'textResizeSmall'>Creating a better future for the folks 6 blocks away, and 6,000 miles away.</h1>
			</div>
		</div>
	</section>

	<section class="full-width-section">
		<div class="full-image-container light-gray-bg">
			<img class="to-right-block" ng-src="[[fullWidthSections[2].image_url]]">
			<div class="full-image-overlay text-center">
				<h1 style = "color:white;" class = 'textResizeMid'>Our Goal is to pair great coffee with a great cause.</h1>
			</div>
		</div>
		<div class="full-text-container light-gray-bg border-bottom-clear">
			<h2>[[fullWidthSections[2].header]]</h2>
			<div class="separator-2 visible-lg"></div>
			<p style = 'font-size:115%;'>[[fullWidthSections[2].first_paragraph]]</p>
			<div ng-if = 'fullWidthSections[2].second_paragraph'>
					<br>
					<p style = 'font-size:115%;'>[[fullWidthSections[2].second_paragraph]]</p>
			</div>
		</div>
	</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
	<section class="section pv-40 stats">
		<div class="container">
			<h2 class="text-center">Our Team </h2>
			<div class="separator"></div>
			<div class="image-box team-member style-3-b" ng-repeat="person in staff">
				<div class="row">
					<div class="col-sm-6 col-md-4 col-lg-3">
						<img ng-src="[[person.image_url]]" alt="[[person.name]]">
					</div>
					<div class="col-sm-6 col-md-8 col-lg-9">
						<div class="body">
							<h3 class="title margin-clear">[[person.name]] <small>([[person.position]])</small></h3>
							<br>
							<p>[[person.member_story]]</p>
						</div>
					</div>
				</div>
			</div>				
		</div>
	</section>
	<!-- section end -->

	<div class="clearfix"></div>
	<!-- section end -->
</div>

<script type="text/javascript">
	$.getScript(staticURL+'website/js/template.js');
</script>
