<div ng-controller = 'blogpost_controller' >

<!-- main-container start -->
<!-- ================ -->
	<section class="main-container" style="padding-top: 0px;">

		<div class="container">
			<div class="row">

				<!-- main start -->
				<!-- ================ -->
				<div class="main col-md-8">

					<!-- page-title start -->
					<!-- ================ -->
					<h1 class="page-title">[[post[0].title]]</h1>
					<!-- page-title end -->

					<!-- blogpost start -->
					<!-- ================ -->
					<article class="blogpost full">
						<header>
							<div class="post-info">
								<span class="post-date">
									<i class="icon-calendar"></i>
									<span>[[post[0].created_at | date: mediumDate]]</span>
								</span>
							</div>
						</header>
						<div class="blogpost-content">
							<img ng-src="[[post[0].img_url]]" alt="" id="blog_post_img">
							<br>
							<div ng-bind-html="[[post[0].text]]"></div>

						</div>
						<footer class="clearfix">
							<div class="link pull-right">
								<ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
									<li class="twitter"><a class="twitter" href="https://twitter.com/intent/tweet?text=[[post[0].title]]&amp;hashtags=happycupcoffee&amp;via=HappyCupCoffee&amp;url=[[post[0].url]]"><i class="fa fa-twitter"></i></a></li>
									<li class="facebook"><a href='' ng-click="fbShare([[post[0].url]], [[post[0].title]], [[post[0].description]], [[post[0].img_url]], 520, 350)"><i class="fa fa-facebook"></i></a></li>
									<li class="linkedin"><a href="" ng-click="lkShare([[post[0].url]], [[post[0].title]], [[post[0].description]], [[post[0].img_url]], 520, 350)" target="_blank""><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</footer>
					</article>
					<!-- blogpost end -->
				</div>
				<!-- main end -->

				<!-- sidebar start -->
				<!-- ================ -->
				<aside class="col-md-4 col-lg-3 col-lg-offset-1">
					<div class="sidebar">
						<div class="block clearfix">
							<h3 class="title">Latest tweets</h3>
							<div class="twitter_feed">
						            <a class="twitter-timeline" href="https://twitter.com/HappyCupCoffee">Tweets by HappyCupCoffee</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          					</div>
						</div>								
						<div class="block clearfix">
						<h3 class="title">Latest News</h3>
						<div class="separator-2"></div>
						<div class="media margin-clear" ng-repeat = "post in other_posts | limitTo: 5">
							<div class="media-left">
								<div class="overlay-container">
									<img class="media-object" ng-src="[[post.img_url]]" alt="blog-thumb">
									<a href="#/blog/[[post.id]]" class="overlay-link small"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="media-body">
								<h6 class="media-heading"><a href="#/blog/[[post.id]]">[[post.title]]</a></h6>
								<p class="small margin-clear">[[post.created_at | date: mediumDate]]</p>
							</div>
							<hr>
						</div>
						<div class="link pull-right"><i class="link-dark"></i><a href="#/blog">Read More</a></div>
					</div>					
				</div>
				</aside>
				<!-- sidebar end -->

			</div>
		</div>
	</section>
	<!-- main-container end -->

</div>

<script type="text/javascript">
	$.getScript('js/template.js');
</script>



