<div ng-controller = 'blog_controller' >

<!-- main-container start -->
<!-- ================ -->
<section class="main-container" style="padding-top: 0px;">

	<div class="container">

		<h1 class="page-title">News</h1>	
		<!-- banner post start -->
		<div class="row blog_banner">
				<div class="banner_post">
					<div class="overlay-container">		
						<a href="#/blog/[[first_post[0].id]]"><img class="banner_img" ng-src="[[first_post[0].img_url]]" ></a>
					</div>
				</div>
				<div class="carousel-title">
					<a href="#/blog/[[first_post[0].id]]" style="text-decoration: none"><h3>[[first_post[0].title]]</h3></a>
				</div>
		</div>
		<!-- banner post end -->
		<br>
		<div class="row">
			<!-- main start -->
			<div class="main col-md-8">

				<!-- blogpost start -->
				<article class="blogpost" ng-repeat = "post in blog_blocks | limitTo: limit">
					<header class="col-lg-12 col-xs-12" ng-if="post[0]">
						<div class = "blog_images_first_container">
							
							<a href="#/blog/[[post[0].id]]"><img class="blog_images" ng-src="[[post[0].img_url]]" alt=""></a>
						</div>
						<div class="blog_titles">
							<h2><a href="#/blog/[[post[0].id]]"><b>[[post[0].title]]</b></a></h2>
						</div>
					</header>
					<header class="col-lg-6 col-xs-6" ng-if="post[1]">
						<div class = "blog_images_container">
							<div class="inner">
							<a href="#/blog/[[post[1].id]]"><img class="blog_images" ng-src="[[post[1].img_url]]" alt=""></a>
							</div>
						</div>
						<div class="blog_titles">
							<h2><a href="#/blog/[[post[1].id]]"><b>[[post[1].title]]</b></a></h2>
						</div>
					</header>
					<header class="col-lg-6 col-xs-6" ng-if="post[2]">
						<div class = "blog_images_container">
							<div class="inner">
							<a href="#/blog/[[post[2].id]]"><img class="blog_images" ng-src="[[post[2].img_url]]" alt=""></a>
							</div>
						</div>
						<div class="blog_titles">
							<h2><a href="#/blog/[[post[2].id]]"><b>[[post[2].title]]</b></a></h2>
						</div>
					</header>
<!-- 					<header class="col-lg-12 col-xs-6">
						<div class = "blog_images_container">
							<a href="#/blog/[[post.id]]"><img class="blog_images" ng-src="[[post.img_url]]" alt=""></a>
						</div>
						<div class="blog_titles">
							<h2><a href="#/blog/[[post.id]]"><b>[[post.title]]</b></a></h2>
						</div>
						<div class="post-info">
							<span class="post-date">
								<span class="date">[[post.created_at | date: mediumDate]]</span>
							</span>
						</div>
					</header> -->
<!-- 					<div class="blogpost-content">
						<p ng-bind-html="post.description"></p>
						<div class="link pull-right"><i class="icon-link"></i><a href="#/blog/[[post.id]]">Read More</a></div>
					</div> -->
				</article>
				<!-- blogpost end -->
				<!-- pagination start -->
<!-- 				<nav>
					<ul class="pagination">
						<li><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</nav> -->
				<a href="" role="button" ng-show="loadMoreButton" ng-click="loadMore()"><b>Load More...</b></a>
				<!-- pagination end -->

			</div>
			<!-- main end -->

			<!-- sidebar start -->
			<!-- ================ -->
			<div class="col-xs-12 col-md-4 col-lg-3 col-lg-offset-1">
				<div class="sidebar">
					<div class="block clearfix">
						<h3 class="title">Latest tweets</h3>
							<div class="twitter_feed">
						            <a class="twitter-timeline" href="https://twitter.com/HappyCupCoffee">Tweets by HappyCupCoffee</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          					</div>
					</div>	

					<div class="block clearfix">
						<h3 class="title">Latest News</h3>
						<!-- <div class="separator-2"></div> -->
						<div class="media margin-clear" ng-repeat = "post in posts | limitTo: 5">
							<div class="media-left">
								<div class="overlay-container">
									<img class="media-object" ng-src="[[post.img_url]]" alt="blog-thumb">
									<a href="#/blog/[[post.id]]" class="overlay-link small" ng-click="newPost()"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="media-body">
								<h6 class="media-heading"><a href="#/blog/[[post.id]]">[[post.title]]</a></h6>
								<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>[[post.created_at | date: mediumDate]]</p>
							</div>
							<br>
						</div>
					</div>						
				</div>
			</div>
			<!-- sidebar end -->

		</div>
	</div>
</section>
<!-- main-container end -->

</div>

<script type="text/javascript">
	$.getScript('js/template.js');
</script>
