<div class="container clearfix">
	<script>
	$(document).ready(function(){
		$('.cafe_slideshow').slick({
			accessibility: false,
			autoplay: true,
			autoplaySpeed: 5000,
			arrows: false,
			fade: true,
			mobileFirst: true,
			speed: 1000,
		});
	});
		
	</script>
	<div class = 'row'>
		<div class = 'cafe_slideshow col-sm-10 col-sm-offset-1'>
			<div>
				<img src = '/static/website/resources/images/cafe/cafe1.jpg'>
			</div>
			<div>
				<img src = '/static/website/resources/images/cafe/cafe2.jpg'>
			</div>
			<div>
				<img src = '/static/website/resources/images/cafe/cafe3.jpg'>
			</div>
			<div>
				<img src = '/static/website/resources/images/cafe/cafe4.jpg'>
			</div>
			<div>
				<img src = '/static/website/resources/images/cafe/cafe5.jpg'>
			</div>
		</div>
	</div>
	<div class ='row'>
		<h1 class = 'col-sm-8 col-sm-offset-1'>Our City Hall Cafe</h1>
	</div>
	<div class="row">
		<div class="col-sm-5 col-md-4 col-lg-3 col-sm-offset-1">
			<h3>Weekday Hours</h3>
			<table class = 'table table-hover brown-border'>
				<tbody>
					<tr>
						<td>Monday</td>
						<td>7:30a - 4:00p</td>
					</tr>
					<tr>
						<td>Tuesday</td>
						<td>7:30a - 4:00p</td>
					</tr>
					<tr>
						<td>Wednesday</td>
						<td>7:30a - 4:00p</td>
					</tr>
					<tr>
						<td>Thursday</td>
						<td>7:30a - 4:00p</td>
					</tr>
					<tr>
						<td>Friday</td>
						<td>7:30a - 4:00p</td>
					</tr>
				</tbody>
			</table>
			<div class="separator-1"></div>
			<i class="fa fa-coffee pr-10"></i><a href="https://www.google.com/maps/place/1221+SW+4th+Ave,+Portland,+OR+97204/@45.5150101,-122.6812806,17z/data=!3m1!4b1!4m5!3m4!1s0x54950a103ca7651d:0x1cd1940dc09594fb!8m2!3d45.5150101!4d-122.6790919" target="_blank">1221 SW 4th Avenue, Portland</a>
			<p><i class="fa fa-phone pr-10"></i> 503-208-2239</p>
		</div>
		<div class = 'col-sm-5 col-md-5 col-lg-6 col-md-offset-1'>
			<p style = 'margin-top: 20px;'>An extension of Happy Cup Coffee, the City Hall cafe welcomes all coffee lovers. We offer a rotating selection of single origin coffees and blends, showcasing all of the major coffee growing regions. Our breakfast and lunch menu features local products from across the Willamette Valley, including pastries from Pearl Bakery and Petunia's. </p>
			<a href="/static/website/resources/images/catering-form2016.pdf" title="">We're available to cater to your needs! (Menu)</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$.getScript(staticURL+'website/js/template.js');
</script>