<div ng-controller = 'contact_controller'>
	<div class = 'container'>	
		<div class = 'row'>
			<div class="col-md-10 col-md-offset-1">
				<div class="overlay-container overlay-visible" id="social-links-overlay-container">
					<img class = 'hidden-xs social_box_image' src="/static/website/resources/images/contact/contact_bg.jpg">
					<div class = 'overlay-bottom links hidden-xs' id="social-links-overlay">
						<ul class="social-links exlarge circle animated-effect-1 colored">
							<li class="facebook"><a target="_blank" href="https://www.facebook.com/Happy-Cup-Coffee-Roasting-124088671039000/?fref=ts"><i class="fa fa-facebook"></i></a></li>
							<li class="twitter"><a target="_blank" href="https://twitter.com/HappyCupCoffee/"><i class="fa fa-twitter"></i></a></li>
							<li class="instagram"><a target="_blank" href="https://www.instagram.com/happycupcoffee/"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 visible-xs">
				<ul class="social-links exlarge circle animated-effect-1 colored">
					<li class="facebook"><a target="_blank" href="https://www.facebook.com/Happy-Cup-Coffee-Roasting-124088671039000/?fref=ts"><i class="fa fa-facebook"></i></a></li>
					<li class="twitter"><a target="_blank" href="https://twitter.com/HappyCupCoffee/"><i class="fa fa-twitter"></i></a></li>
					<li class="instagram"><a target="_blank" href="https://www.instagram.com/happycupcoffee/"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>
		<div class ='row'>
			<h1 class = 'col-sm-8 col-md-offset-1'>Contact Happy Cup</h1>
		</div>
		
		<div class = 'row'>
			<div class="col-sm-4 col-md-3 col-md-offset-1">
				<h3>Happy Cup Roaster</h3>
				<p class="small">CALL FOR APPOINTMENT</p>
				<ul class="list">
					<li><i class="fa fa-home pr-10"></i>2850 NE Sandy Boulevard</li>
					<li><i class="fa fa-phone pr-10"></i>503-238-4604</li>
				</ul>
			</div>
			<div class = 'col-sm-4 col-md-3 col-lg-offset-1 contact-box'>
				<h3>Account Questions</h3>
				<ul class="list">
					<li><i class = 'fa fa-user pr-10'></i>Adam Bray</li>
					<li><i class="fa fa-phone pr-10"></i>503-544-7052</li>
					<li><i class = 'fa fa-envelope pr-10'></i><a href="mailto:adamBray@happycup.com">adamBray@happycup.com</a></li>
				</ul>
			</div>
			<div class = 'col-sm-4 col-md-3 col-lg-offset-1 contact-box'>
				<h3>Billing &amp; Payments</h3>
				<ul class="list">
					<li><i class = 'fa fa-user pr-10'></i>Cheryl Yeats</li>
					<li><i class="fa fa-phone pr-10"></i>971-302-7461</li>
					<li><i class = 'fa fa-envelope pr-10'></i><a href="mailto:cherylyeats@happycup.com">cherylyeats@happycup.com</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- main-container end -->
<script type="text/javascript">
	$.getScript(staticURL+'website/js/template.js');
</script>