<div ng-controller = 'cafe_controller' class="container clearfix">
	<script>
	$(document).ready(function(){
		$('.cafe_slideshow').slick({
			accessibility: false,
			autoplay: true,
			autoplaySpeed: 5000,
			arrows: false,
			fade: true,
			mobileFirst: true,
			speed: 1000,
		});
	});
		
	</script>
	<div class = 'row'>
		<div class = 'cafe_slideshow col-sm-10 col-sm-offset-1'>
			<div>
				<img src = '/static/website/resources/images/cafe/cafe1.jpg'>
			</div>
			<div>
				<img src = '/static/website/resources/images/cafe/cafe2.jpg'>
			</div>
			<div>
				<img src = '/static/website/resources/images/cafe/cafe3.jpg'>
			</div>
			<div>
				<img src = '/static/website/resources/images/cafe/cafe4.jpg'>
			</div>
			<div>
				<img src = '/static/website/resources/images/cafe/cafe5.jpg'>
			</div>
			<!-- <div ng-repeat = 'image in carousel'>
				<img ng-src = '[[image.image_url]]' alt= '[[image.image_alternate_text]]'>
			</div>
			-->
		</div>
	</div>
	<div class ='row'>
		<h1 class = 'col-sm-8 col-sm-offset-1'>[[cafeContent[0].header]]</h1>
	</div>
	<div class="row">
		<div class="col-sm-5 col-md-4 col-lg-3 col-sm-offset-1">
			<h3>Weekday Hours</h3>
			<table class = 'table table-hover brown-border'>
				<tbody ng-repeat = 'hour in hours'>
					<tr>
						<td>Monday</td>
						<td>[[hour.monday_open]] - [[hour.monday_close]]</td>
					</tr>
					<tr>
						<td>Tuesday</td>
						<td>[[hour.tuesday_open]] - [[hour.tuesday_close]]</td>
					</tr>
					<tr>
						<td>Wednesday</td>
						<td>[[hour.wednesday_open]] - [[hour.wednesday_close]]</td>
					</tr>
					<tr>
						<td>Thursday</td>
						<td>[[hour.thursday_open]] - [[hour.thursday_close]]</td>
					</tr>
					<tr>
						<td>Friday</td>
						<td>[[hour.friday_open]] - [[hour.friday_close]]</td>
					</tr>
					<tr ng-if = 'hour.saturday_open'>
						<td>Saturday</td>
						<td>[[hour.saturday_open]] - [[hour.saturday_close]]</td>
					</tr>
					<tr ng-if = 'hour.sunday_open'>
						<td>Sunday</td>
						<td>[[hour.sunday_open]] - [[hour.sunday_close]]</td>
					</tr>
				</tbody>
			</table>
			
		</div>
		<div class = 'col-sm-5 col-md-5 col-lg-6 col-md-offset-1'>
			<p style = 'margin-top: 20px;'>[[cafeContent[0].description]]</p>
			<ul class = 'list'>
				<li><i class="fa fa-coffee pr-10"></i><a href="https://www.google.com/maps/place/1221+SW+4th+Ave,+Portland,+OR+97204/@45.5150101,-122.6812806,17z/data=!3m1!4b1!4m5!3m4!1s0x54950a103ca7651d:0x1cd1940dc09594fb!8m2!3d45.5150101!4d-122.6790919" target="_blank">[[cafeContent[0].address]]</a></li>
				<li><i class="fa fa-phone pr-10"></i> [[cafeContent[0].phone_number]]</li>
				<li><a href="[[cafeContent[0].link_url]]" title="">[[cafeContent[0].link_text]]</a></li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
	$.getScript(staticURL+'website/js/template.js');
</script>