<div ng-controller = 'shop_controller'>
	<div class="banner video-background-banner dark-translucent-bg hovered hidden-xs">
		<div class="container">
			<div class="row text-left">

				<!-- main start -->
				<!-- ================ -->
						<div class="col-md-4">
							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="fa fa-users"></i></span>
								<div class="body">
									<h3 class="title">People with Potential</h3>
									<p class = 'white'>We offer employment, a competitive wage and a full life to adults with disabilities in our local community.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
								<span class="icon without-bg"><i class="fa fa-heart"></i></span>
								<div class="body">
									<h3 class="title">Supporting Local Communities</h3>
									<p class ='white'>We help create a better future for the disabled by donating a percentage of our profits to vocational and recreational programming in the local community.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon without-bg"><i class="fa fa-coffee"></i></span>
								<div class="body">
									<h3 class="title">Quality</h3>
									<p class = 'white'>We strive to deliver a responsible, great-tasting cup of coffee.</p>
								</div>
							</div>
						</div>
				<!-- main end -->

			</div>
		</div>

	</div>
	<!-- banner end -->

	<div id="page-start"></div>

	<!-- section start SHOP START-->
	<!-- ================ -->
	<section class="section light-gray-bg clearfix">
		<div class="container">

			<div class="row text-center" ng-if="products.featured.length">

				<h1>Featured Products</h1>
				<h5>(Click image for more info)</h5>

				<div id="carousel-featured-products" class="carousel slide col-sm-6 col-sm-offset-3">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
						<li data-target="#carousel-featured-products" data-slide-to="[[$index]]" ng-repeat="product in products.featured track by $index" ng-class="{active: $index==0}"></li>
					</ol>

						<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item featured-item text-center" role="button" ng-repeat="product in products.featured track by $index" ng-class="{active: $index==0}" ng-click="openFeaturedProductModal(product, mobileAndTabletCheck)">
							<img ng-src="[[product.image_url]]" alt="[[product.name]]">
							<div class="carousel-caption">
						  	
						  	<h1 style="color: red;">[[product.featured.discount]]% off!</h1>
							</div>
						</div>
					</div>

						<!-- Controls -->
					<a class="left carousel-control" role="button" onclick="$('#carousel-featured-products').carousel('prev')">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" role="button" onclick="$('#carousel-featured-products').carousel('next')">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

			</div>


			<!-- Nav tabs -->
			<div class = 'row'>
				<div class="col-md-12">
					<ul class="nav nav-pills">
						<li ng-class="{active: productDisplay.showCoffee === true}"><a ng-click = 'showCoffee()' title="Current Coffee"> <span class = 'tab_text'>Current Roasts</span></a></li>
						<li ng-class="{active: productDisplay.showMerch === true}"><a ng-click = 'showMerch()' title="Merchandise"><span class = 'tab_text'>Merchandise</span></a></li>
						<!-- <li ng-class="{active: productDisplay.showSubs === true}"><a ng-click = 'showSubs()' title="Subscriptions"> <span class = 'tab_text'>Subscriptions</span></a></li> -->
					</ul>
				</div>
			</div>

			<!-- Nav Tab End -->

			

			<!-- Coffee Start -->
			<div class="row" ng-show = 'productDisplay.showCoffee === true' id="coffee_products">

				<h1 class = 'row row-centered'> Offered In All Sizes </h1>
					<table id ="coffee-products-table" class = 'table table-hover brown-border'>
						<thead>
							<tr>
								<td>Description</td>
								<td>Name</td>
								<td>Roast</td>
								<td class="hidden-xs">Price</td>
								<td class="hidden-xs">Size</td>
								<td class="hidden-xs">Grind</td>
								<td class="hidden-xs">Qty</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="coffee in products.coffee track by $index" ng-if="coffee.name !== 'Roaster\'s Choice'">
								<td ng-if="!mobileAndTabletCheck"><a class = 'margin-clear btn btn-group btn-brown' data-toggle = 'modal' data-target ="#coffee_modal" ng-click="openCoffeeModal(coffee, $index)">+</a></td>
								<td ng-if="mobileAndTabletCheck"><a class = 'margin-clear btn btn-group btn-brown' ng-click="openCoffeeModal(coffee, $index)">+</a></td>
								<td>[[coffee.name]]</td>
								<td>[[coffee.roast.name]]</td>
								<td class="hidden-xs" ng-class="{ 'featured-product-font' : coffee.featured }">[[order.size.base_price | currency : symbol : fractionSize]]</td>
								<td class="hidden-xs"><select class="form-control" ng-init="order.size=coffee.sizes[0]" ng-model="order.size" ng-options="size.qty for size in coffee.sizes track by size.id"></select>
									</td>
								<td class="hidden-xs"><select class="form-control" ng-init="order.grind=coffee.grinds[0]" ng-options="grind.name for grind in coffee.grinds track by grind.id" ng-model="order.grind"></select>
								</td>
								<td class="hidden-xs quantity">
									<input type="number" class="form-control" ng-init="order.qty = 1" ng-model="order.qty" style="width: 60px; padding-right: 12px;" min="1">
								</td>
								<td class="hidden-xs">
								<button class = 'margin-clear btn btn-brown' ng-click="addCoffeeToCart(coffee, order, $index)" ng-disabled="coffee.addingProduct || order.qty <= 0"><span ng-if="!coffee.addingProduct">Add To Cart</span><span ng-if="coffee.addingProduct">Item Added</span> </button>
								</td>
							</tr>
						</tbody>

					</table>

				<h1 class = 'row row-centered'> Offered Wholesale </h1>
					<table id ="wholesale-coffee-products-table" class = 'table table-hover brown-border'>
						<thead>
							<tr>
								<td>Description</td>
								<td>Name</td>
								<td>Roast</td>
								<td class="hidden-xs">Price Per Pound</td>
								<td class="hidden-xs">Size</td>
								<td class="hidden-xs">Grind</td>
								<td class="hidden-xs">Qty</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="coffee in products.wholeSaleCoffee track by $index">
								<td ng-if="!mobileAndTabletCheck"><a class = 'margin-clear btn btn-group btn-brown' data-toggle = 'modal' data-target ="#wholesale_coffee_modal" ng-click="openWholeSaleModal(coffee, $index)">+</a></td>
								<td ng-if="mobileAndTabletCheck"><a class = 'margin-clear btn btn-group btn-brown' ng-click="openWholeSaleModal(coffee, $index)">+</a></td>
								<td>[[coffee.name]]</td>
								<td>[[coffee.roast.name]]</td>
								<td class="hidden-xs" ng-class="{ 'featured-product-font' : coffee.featured }">[[coffee.price_per_pound | currency : symbol : fractionSize]]</td>
								<td class="hidden-xs">1 lb </td>
								<td class="hidden-xs"><select class="form-control" ng-init="order.grind=coffee.grinds[0]" ng-options="grind.name for grind in coffee.grinds track by grind.id" ng-model="order.grind"></select>
								</td>
								<td class="hidden-xs quantity">
									<input type="number" class="form-control" ng-init="order.qty = 1" ng-model="order.qty" style="width: 60px; padding-right: 12px;" min="1">
								</td>
								<td class="hidden-xs">
								<button class = 'margin-clear btn btn-brown' ng-click="addWholeSaleCoffeeToCart(coffee, order, $index)" ng-disabled="coffee.addingProduct || order.qty <= 0"><span ng-if="!coffee.addingProduct">Add To Cart</span><span ng-if="coffee.addingProduct">Item Added</span> </button>
								</td>
							</tr>
						</tbody>

					</table>
			</div>

						
			<!-- Coffee End -->


			<!--Subscriptions Start -->
			<div ng-show = 'productDisplay.showSubs === true'>

				<h1 class = 'row row-centered'>Subscriptions</h1>
				<br>
				<div class = 'row row-centered'>
					<p class = 'col-sm-10 col-centered'>Happy Cup sent directly to your door! Choose your favorite roast, or switch things up every month with the "Roaster's Choice" option and try one bag each of our current cofeee lineup! A great way to introduce a friend to Happy Cup and spread the Portland coffee scene.</p>
				</div>

				<table class = 'table table-hover brown-border'>
					<thead>
						<tr>
							<td>Description</td>
							<td class = 'visible-xs'>Name</td>
							<td class="hidden-xs"></td>
							<td class="hidden-xs">Roast</td>
							<td class="hidden-xs">Grind</td>
							<td>Price</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = 'subscription in products.subscriptions track by subscription.id'>
							<td ng-if="!mobileAndTabletCheck"><a class = 'margin-clear btn btn-group btn-brown' data-toggle = 'modal' data-target = '#subscription_modal' ng-click="openSubscriptionModal(subscription, $index)">+</a></td>
							<td ng-if="mobileAndTabletCheck"><a class = 'margin-clear btn btn-group btn-brown' ng-click="openSubscriptionModal(subscription, $index)">+</a></td>
							<td class="hidden-xs"><img class = 'table_image' ng-src ='[[subscription.img_src]]'></td>
							<td class = 'visible-xs'>[[subscription.name]]</td>

							<td class = 'hidden-xs'><select class = 'form-control' ng-init = 'order.roast=subscription.roasts[0]'
							ng-model = 'order.roast' ng-options = 'roast.name for roast in subscription.roasts track by $index' ></select>
							</td>

							<td class="hidden-xs"><select class = 'form-control' ng-init="order.grind=order.roast.grinds[0]" ng-model = 'order.grind' ng-options = 'grind.type for grind in order.roast.grinds track by $index' ></select>
							</td>

							<td>[[subscription.pricing | currency : symbol : fractionSize]]</td>
							<td class="hidden-xs">
								<button class = 'margin-clear btn btn-brown' ng-click = 'addSubscriptionsToCart(subscription, order, $index)' ng-disabled = 'subscription.addingProduct'><span ng-if = '!subscription.addingProduct'>Add To Cart</span><span ng-if='subscription.addingProduct'>Item Added</span></button>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
			<!-- Subscriptions End -->

			<!-- Merch Start -->
			<div ng-show = 'productDisplay.showMerch === true'>

				<h1 class = 'row row-centered'>Happy Cup Gifts </h1>
				<table class = 'table table-hover brown-border'>
					<thead>
						<tr>
							<td>Description</td>
							<td class="hidden-xs"></td>
							<td>Product</td>
							<td>Price</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = 'merch in products.merchandise track by $index'>
							<td ng-if="!mobileAndTabletCheck"><a class = 'margin-clear btn btn-group btn-brown' data-toggle = 'modal' data-target = '#merch_modal' ng-click = 'openMerchandiseModal(merch, $index)'>+</a></td>
							<td ng-if="mobileAndTabletCheck"><a class = 'margin-clear btn btn-group btn-brown' ng-click = 'openMerchandiseModal(merch, $index)'>+</a></td>
							<td class="hidden-xs"><img class = 'table_image' ng-src = '[[merch.image_url]]'></td>
							<td>[[merch.name]]</td>
							<td ng-class="{ 'featured-product-font' : merch.featured }">[[merch.price | currency : symbol : fractionSize]]</td>
						</tr>
					</tbody>
				</table>
				
			</div>
			<!-- Merch End -->
			
		</div>
		<!-- Container End -->

	</section>
	<!-- section end -->
</div>
<script type="text/javascript">
	$.getScript(staticURL+'website/js/template.js');

</script>
