<div ng-controller = 'profile_controller'>
	<div class="container" ng-show="userAllowedInView">
		<div class="row">
			<div class="col-md-6">
				<h3><b>Personal Info</b></h3>
				<table class="table-profile table table-hover table-borderless">
					<tbody>
						<tr>
							<td><label class="control-label">Username:</label></td>
							<td ng-show="!userEdit">[[currentUser.username]]</td>
							<td ng-show="userEdit"><input class="form-control" type="text" ng-model="profileEditForm.username"></td>
						</tr>
						<tr>
							<td><label class="control-label">First Name:</label></td>
							<td ng-show="!userEdit" >[[currentUser.first_name]]</td>
							<td ng-show="userEdit"><input class="form-control" type="text" ng-model="profileEditForm.first_name"></td>
						</tr>
						<tr>
							<td><label class="control-label">Last Name:</label></td>
							<td ng-show="!userEdit">[[currentUser.last_name]]</td>
							<td ng-show="userEdit"><input class="form-control" type="text" ng-model="profileEditForm.last_name"></td>
						</tr>
						<tr>
							<td><label class="control-label">Email:</label></td>
							<td ng-show="!userEdit">[[currentUser.email]]</td>
							<td ng-show="userEdit"><input class="form-control" value="[[currentUser.email]]" type="text" ng-model="profileEditForm.email"></td>
						</tr>
						<tr ng-if="backendErrors">
							<td colspan="2" class="text-danger">
								<p class="margin-clear text-danger">Please correct the following errors and submit again</p>
								<ul>
									<li ng-repeat="error in backendErrors">[[error.message]]</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<a class="pull-left btn btn-default btn-sm" ng-click="editMode(currentUser)" role="button" ng-show="!userEdit">Edit</a>
				<a href="/customers/password_change" class="pull-left btn btn-default btn-sm" role="button" ng-show="!userEdit">Change Password</a>
				<a class="pull-left btn btn-default btn-sm" ng-click="editUser()" role="button" ng-show="userEdit">Save</a>
				<a class="pull-left btn btn-default btn-sm" ng-click="userEdit = false; backendErrors = undefined;" role="button" ng-show="userEdit">Cancel</a>
			</div>
			<div class="col-md-6">
				<h3><b>Saved Shipping Information</b></h3>
				<table class="table-profile table table-hover">
					<tbody>
						<tr ng-repeat="address in currentUser.shipping_list">
							<td>
								[[address.name]]<br>
								[[address.address.line1]] [[address.address.line2]]<br>
								[[address.address.city]], [[address.address.state]] [[address.address.postal_code]]<br>
								[[address.phone]]<br>
								[[address.email]]
							</td>
							<td><button class="btn btn-default" ng-click="removeSavedAddress(address.id)">Remove</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		<div class="row">
			<div class="col-md-6">
				<h3><b>Order History</b></h3>
				<table class="table-profile table" ng-repeat="order in orders | orderBy:'-created_at' ">
					<thead>
						<th>
							Date Placed
							<br><small>[[order.created_at | date:shortDate]]</small>
						</th>
						<th>
							Total
							<br><small>[[order.totalPrice | currency : symbol : fractionSize]]</small>
						</th>
						<th>
							Order # [[order.id]]
							<br> <a href="" style="color: white;">Invoice</a>
						</th>
					</thead>
					<tbody>
						<tr class="text-center">
							<td colspan="3">Click any product for more info</td>
						</tr>
						<tr>
							<td colspan="2">
								<a ng-repeat="coffee in order.coffee" href="" ng-click="openCoffeeModal(coffee.id)">
									[[coffee.qty]]x [[coffee.size.qty]] [[coffee.name]] [[coffee.grind.name]]<br><br>
								</a>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
			<div class="col-md-6">
				<h3><b>Subscription History</b></h3>
				<table class="table-profile table table-hover">

					<tr ng-repeat="sub in subscriptions">
						<td>[[sub.id]] - more info coming soon</td>
					</tr>

				</table>
			</div>
			
		</div>
		</div>
	</div>
</div>