<div ng-controller = 'profile_controller'>
	<div class="container" ng-show="userAllowedInView">
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3><b>Personal Info</b></h3>
			<table class="table-profile table table-hover table-borderless">
				<tbody>
					<tr>
						<td><label class="control-label">Username:</label></td>
						<td ng-show="!userEdit">[[currentUser.username]]</td>
						<td ng-show="userEdit"><input class="form-control" type="text" ng-model="profileEditForm.username"></td>
					</tr>
					<tr>
						<td><label class="control-label">First Name:</label></td>
						<td ng-show="!userEdit">[[currentUser.first_name]]</td>
						<td ng-show="userEdit"><input class="form-control" type="text" ng-model="profileEditForm.first_name"></td>
					</tr>
					<tr>
						<td><label class="control-label">Last Name:</label></td>
						<td ng-show="!userEdit">[[currentUser.last_name]]</td>
						<td ng-show="userEdit"><input class="form-control" type="text" ng-model="profileEditForm.last_name"></td>
					</tr>
					<tr>
						<td><label class="control-label">Email:</label></td>
						<td ng-show="!userEdit">[[currentUser.email]]</td>
						<td ng-show="userEdit"><input class="form-control" value="[[currentUser.email]]" type="text" ng-model="profileEditForm.email"></td>
					</tr>
				</tbody>
			</table>
			<a class="pull-left btn btn-default btn-sm" ng-click="toggleForm([[currentUser.username]])" role="button" ng-show="!userEdit">Edit</a>
			<a href="/customers/password_change" class="pull-left btn btn-default btn-sm" ng-click="toggleForm([[currentUser.email]])" role="button" ng-show="!userEdit">Change Password</a>
			<a class="pull-left btn btn-default btn-sm" ng-click="editUser()" role="button" ng-show="userEdit">Save</a>
			<a class="pull-left btn btn-default btn-sm" ng-click="cancelEdit()" role="button" ng-show="userEdit">Cancel</a>
		</div>
	</div>
</div>