
<!-- main-container start -->

<section class="main-container">

	<div class="container" ng-controller="payment_controller">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">Payment</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->

				<fieldset>
					<legend>Shipping Information</legend>
					<div class="row space-bottom">
						<div class="col-xs-12">
							<p ng-if="!currentCart.api_error">Your shipping address has been validated.  Please double check it for accuracy.</p>
							<p>[[currentCart.shipping.address]] [[currentCart.shipping.address2]]</p>
							<p>[[currentCart.shipping.city]], [[currentCart.shipping.state]] [[currentCart.shipping.zipcode]]</p>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="same-as-billing" id="shipping-info-check" ng-model="currentCart.sameAsBilling" ng-change="toggleBillingInfo()"> My Shipping information is the same as my Billing information.
								</label>
							</div>
							<a href="#/cart/checkout" class="btn btn-default">My address is not correct</a>
						</div>

					</div>
				</fieldset>
				
				<fieldset>
					<legend>Payment Information</legend>
					<form role="form" class="form-horizontal" id="payment-information">
						<div class="row">
							<div class="col-lg-3">
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
										Credit Card<i class="fa fa-cc-visa pl-10"></i><i class="fa fa-cc-amex pl-10"></i><i class="fa fa-cc-mastercard pl-10"></i>
									</label>
								</div>
								<div class="space-bottom"></div>
							</div>
							<div class="col-lg-9">
								<div class="form-group">
									<label for="paymentFirstName" class="col-md-3 control-label">First Name<small class="text-danger">*</small></label>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-4">
												<input type="text" class="form-control" id="paymentFirstName" placeholder="First Name" ng-model="billingInfo.first_name">
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="paymentLastName" class="col-md-3 control-label">Last Name<small class="text-danger">*</small></label>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-4">
												<input type="text" class="form-control" id="paymentLastName" placeholder="Last Name" ng-model="billingInfo.last_name">
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Credit Card<small class="text-danger">*</small></label>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-4">
												<select class="form-control" ng-model="billingInfo.card">
													<option value="visa" selected="selected">VISA</option>
													<option value="master-card">Master Card</option>
													<option value="american-express">American Express</option>
												</select>															
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Card Number<small class="text-danger">*</small></label>
									<div class="col-md-9">
										<div class="row">
											<div class="col-xs-6 col-sm-2">
												<input type="text" class="form-control" ng-model="billingInfo.card_num1">
											</div>
											<div class="col-xs-6 col-sm-2">
												<input type="text" class="form-control" ng-model="billingInfo.card_num2">
											</div>
											<div class="clearfix space-bottom visible-xs"></div>
											<div class="col-xs-6 col-sm-2">
												<input type="text" class="form-control" ng-model="billingInfo.card_num3">
											</div>
											<div class="col-xs-6 col-sm-2">
												<input type="text" class="form-control" ng-model="billingInfo.card_num4">
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Expiration Date<small class="text-danger">*</small></label>
									<div class="col-md-9">
										<div class="row">
											<div class="col-xs-6 col-sm-2">
												<select class="form-control" ng-model="billingInfo.expire_month">
													<option value="01" selected="selected">01</option>
													<option value="03">02</option>
													<option value="03">03</option>
													<option value="04">04</option>
													<option value="05">05</option>
													<option value="06">06</option>
													<option value="07">07</option>
													<option value="08">08</option>
													<option value="09">09</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
												</select>
											</div>
											<div class="col-xs-6 col-sm-2">
												<select class="form-control" ng-model="billingInfo.expire_year">
													<option value="2014" selected="selected">2014</option>
													<option value="2015">2015</option>
													<option value="2016">2016</option>
													<option value="2017">2017</option>
													<option value="2018">2018</option>
													<option value="2019">2019</option>
													<option value="2020">2020</option>
													<option value="2021">2021</option>
													<option value="2022">2022</option>
													<option value="2023">2023</option>
													<option value="2024">2024</option>
													<option value="2025">2025</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">CVS<small class="text-danger">*</small></label>
									<div class="col-md-9">
										<div class="row">
											<div class="col-xs-6 col-sm-2">
												<input type="text" class="form-control" ng-model="billingInfo.cvs">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="space"></div>
						<div class="row">
							<div class="col-lg-9 col-lg-offset-3">
								<div class="form-group">
									<label for="paymentEmail" class="col-md-3 control-label">Email<small class="text-danger">*</small></label>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-8">
												<input type="email" class="form-control" id="paymentEmail" placeholder="Email" ng-model="billingInfo.email">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="space"></div>
					</form>
				</fieldset>
				<div class="text-right">	
					<a href="#/cart/checkout" move-to-top class="btn btn-group btn-default"><i class="icon-left-open-big"></i> Go Back</a>
					<a href="#/cart/review" move-to-top class="btn btn-group btn-default">Review and Complete Your Order <i class="icon-right-open-big"></i></a>
				</div>

			</div>
			<!-- main end -->

		</div>
	</div>
</section>

<!-- main-container end -->
<script type="text/javascript">
	$.getScript(staticURL+'website/js/template.js');
</script>